################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Conical.Tools.TRXUploader/bin
/Conical.Tools.TRXUploader/obj
